In [28]:
import pandas as pd


# Define file paths
gula_reduksi_file_path = '../raw_data/MONTE CARLO DATA NIR ROASTING GULA REDUKSI.csv'
kadar_air_file_path = '../raw_data/MONTE CARLO DATA NIR ROASTING KADAR AIR.csv'
lemak_file_path = '../raw_data/MONTE CARLO DATA NIR ROASTING LEMAK.csv'
protein_file_path = '../raw_data/MONTE CARLO DATA NIR ROASTING PROTEIN.csv'
fenol_file_path = '../raw_data/MONTE CARLO DATA NIR ROASTING FENOL.csv'


# Read the CSV files
gula_reduksi_df = pd.read_csv(gula_reduksi_file_path,index_col=0)
kadar_air_df = pd.read_csv(kadar_air_file_path,index_col=0)
lemak_df = pd.read_csv(lemak_file_path,index_col=0)
protein_df = pd.read_csv(protein_file_path,index_col=0)
fenol_df = pd.read_csv(fenol_file_path,index_col=0)

In [29]:
# Drop the "KATEGORI" column from all relevant DataFrames if it exists
for df in [lemak_df, protein_df,gula_reduksi_df, kadar_air_df]:
    if "KATEGORI" in df.columns:
        df.drop(columns=["KATEGORI"], inplace=True)
    if "Kategori" in df.columns:
        df.drop(columns=['Kategori'], inplace=True)

In [30]:
for df in [gula_reduksi_df, kadar_air_df, lemak_df, protein_df]:
    if "Unnamed: 0" in df.columns:
        df.drop(columns=["Unnamed: 0"], inplace=True)

In [31]:
include_roasting_kadar_air = [
]

include_roasting_gula_reduksi = [
]


include_roasting_lemak = [
    "TS 7-25",
    "TS 6-30",
    "MS 4-33",
    "MS 4-23",
    "MS 4-18",
    "MS 4-1",
    "MS 4-32",
    "MS 4-28",
    "MS 9-7",
    "MS 9-5",
    "MS 9-3",
    "MS 7-21",
    "MS 7-6",
    "MS 7-7",
    "MS 7-14",
    "TS 5-12",
    "TS 5-14",
    "MS 10-28"
]

include_roasting_protein = [

]


include_roasting_fenol = [

]

In [32]:
lemak_df

,LEMAK,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
TS 9-36,71.59,45.33,45.54,45.74,45.93,46.06,46.25,46.39,46.51,46.74,...,33.78,33.45,32.98,32.31,31.64,31.00,30.38,29.60,28.66,28.07
MS 6-36,73.18,49.64,50.06,50.03,50.13,50.10,50.32,50.29,50.17,50.62,...,36.21,35.99,35.89,35.31,34.99,34.83,35.20,35.27,35.27,35.20
MS 6-2,73.18,35.73,36.21,36.50,36.87,37.13,37.57,37.82,38.02,38.63,...,31.85,31.66,31.54,31.03,30.71,30.45,30.54,30.29,29.92,29.63
TS 1-21,72.43,38.17,38.39,38.65,38.90,39.12,39.38,39.58,39.76,39.98,...,28.18,28.02,27.73,27.29,26.77,26.19,25.53,24.73,23.82,23.27
TS 9-26,71.59,35.34,35.48,35.58,35.66,35.68,35.77,35.81,35.85,35.96,...,23.96,23.79,23.52,23.09,22.64,22.18,21.70,21.11,20.44,20.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TS 5-13,73.00,54.18,54.51,55.11,55.64,56.13,56.62,57.08,57.53,57.95,...,47.38,46.88,46.13,45.25,44.31,43.37,42.28,40.98,39.44,38.44
TS 8-38,72.57,44.57,44.79,45.07,45.32,45.53,45.78,45.97,46.15,46.36,...,36.67,36.27,35.66,34.83,33.91,32.94,31.81,30.42,28.83,27.84
MS 4-28,74.54,38.87,39.09,39.31,39.53,39.69,39.89,40.02,40.15,40.38,...,29.62,29.42,29.12,28.62,28.08,27.46,26.83,26.03,25.13,24.56
MS 7-6,73.22,41.28,41.81,41.95,42.23,42.38,42.77,42.92,42.98,43.64,...,30.80,30.57,30.46,29.88,29.62,29.56,30.09,30.39,30.69,30.85
TS 2-16,70.49,53.04,53.30,53.59,53.83,54.01,54.25,54.44,54.66,55.00,...,39.63,39.18,38.48,37.53,36.58,35.71,34.83,33.71,32.34,31.47

In [33]:
# # Ambil baris dari lemak_df berdasarkan list index (include_roasting_lemak)
# # 1) Aman terhadap index yang tidak ada (mengembalikan baris NaN untuk yang hilang)
# selected_lemak = lemak_df.reindex(include_roasting_lemak)

# # 2) Hanya ambil index yang ada (hindari NaN / KeyError)
# existing_idx = [i for i in include_roasting_lemak if i in lemak_df.index]
# selected_lemak_existing = lemak_df.loc[existing_idx]

# # Contoh: lihat hasil
# print(selected_lemak.shape)
# selected_lemak

In [34]:
gula_reduksi_df = gula_reduksi_df.drop([s.replace(' ', ' ') for s in include_roasting_gula_reduksi])
kadar_air_df = kadar_air_df.drop([s.replace(' ', ' ') for s in include_roasting_kadar_air])
lemak_df = lemak_df.drop([s.replace(' ', ' ') for s in include_roasting_lemak])
protein_df = protein_df.drop([s.replace(' ', ' ') for s in include_roasting_protein])
fenol_df = fenol_df.drop([s.replace(' ', ' ') for s in include_roasting_fenol])

In [35]:
lemak_df

,LEMAK,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
TS 9-36,71.59,45.33,45.54,45.74,45.93,46.06,46.25,46.39,46.51,46.74,...,33.78,33.45,32.98,32.31,31.64,31.00,30.38,29.60,28.66,28.07
MS 6-36,73.18,49.64,50.06,50.03,50.13,50.10,50.32,50.29,50.17,50.62,...,36.21,35.99,35.89,35.31,34.99,34.83,35.20,35.27,35.27,35.20
MS 6-2,73.18,35.73,36.21,36.50,36.87,37.13,37.57,37.82,38.02,38.63,...,31.85,31.66,31.54,31.03,30.71,30.45,30.54,30.29,29.92,29.63
TS 1-21,72.43,38.17,38.39,38.65,38.90,39.12,39.38,39.58,39.76,39.98,...,28.18,28.02,27.73,27.29,26.77,26.19,25.53,24.73,23.82,23.27
TS 9-26,71.59,35.34,35.48,35.58,35.66,35.68,35.77,35.81,35.85,35.96,...,23.96,23.79,23.52,23.09,22.64,22.18,21.70,21.11,20.44,20.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MS 6-38,73.18,33.64,34.05,34.04,34.17,34.17,34.39,34.39,34.31,34.81,...,25.02,24.86,24.82,24.33,24.09,23.98,24.42,24.68,25.06,25.31
TS 9-4,71.59,55.08,55.24,55.42,55.54,55.60,55.71,55.78,55.86,56.00,...,41.61,41.27,40.73,39.97,39.16,38.35,37.48,36.43,35.21,34.45
TS 5-13,73.00,54.18,54.51,55.11,55.64,56.13,56.62,57.08,57.53,57.95,...,47.38,46.88,46.13,45.25,44.31,43.37,42.28,40.98,39.44,38.44
TS 8-38,72.57,44.57,44.79,45.07,45.32,45.53,45.78,45.97,46.15,46.36,...,36.67,36.27,35.66,34.83,33.91,32.94,31.81,30.42,28.83,27.84
TS 2-16,70.49,53.04,53.30,53.59,53.83,54.01,54.25,54.44,54.66,55.00,...,39.63,39.18,38.48,37.53,36.58,35.71,34.83,33.71,32.34,31.47

In [36]:
# gula_reduksi_df.to_csv('../curated_data_2/nir_roasting_gula_reduksi_df.csv')
# kadar_air_df.to_csv('../curated_data_2/nir_roasting_kadar_air_df.csv')
lemak_df.to_csv('../curated_data_2/nir_roasting_lemak_df.csv')
# protein_df.to_csv('../curated_data_2/nir_roasting_protein_df.csv')
# fenol_df.to_csv('../curated_data_2/nir_roasting_fenol_df.csv')

In [37]:
gula_reduksi_df

,Gula Reduksi,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
MS 1-0,3.94,36.94,37.14,37.25,37.35,37.38,37.49,37.51,37.55,37.72,...,23.26,23.05,22.76,22.29,21.82,21.33,20.88,20.31,19.71,19.35
MS 1-1,3.94,36.72,36.95,37.16,37.35,37.48,37.67,37.78,37.90,38.15,...,25.61,25.34,24.97,24.40,23.84,23.25,22.68,21.92,21.09,20.56
MS 1-2,3.94,19.79,20.03,20.29,20.56,20.79,21.06,21.29,21.51,21.85,...,17.82,17.61,17.34,16.93,16.54,16.13,15.76,15.24,14.64,14.25
MS 1-3,3.94,47.69,48.03,48.45,48.87,49.23,49.68,50.04,50.38,50.85,...,48.74,48.52,48.22,47.70,47.18,46.59,45.99,45.22,44.30,43.71
MS 1-4,3.94,35.73,36.01,36.33,36.65,36.91,37.23,37.48,37.70,38.05,...,26.61,26.34,25.98,25.45,24.94,24.41,23.89,23.19,22.38,21.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TS 9-35,7.29,41.86,42.05,42.21,42.35,42.44,42.61,42.71,42.81,43.00,...,30.28,29.94,29.45,28.72,27.96,27.22,26.45,25.47,24.30,23.56
TS 9-36,7.29,45.33,45.54,45.74,45.93,46.06,46.25,46.39,46.51,46.74,...,33.78,33.45,32.98,32.31,31.64,31.00,30.38,29.60,28.66,28.07
TS 9-37,7.29,26.35,26.63,26.97,27.30,27.60,27.95,28.25,28.54,28.95,...,28.00,27.70,27.26,26.62,25.96,25.35,24.75,23.96,22.96,22.32
TS 9-38,7.29,43.05,43.34,43.68,44.00,44.27,44.59,44.83,45.04,45.34,...,34.10,33.76,33.22,32.44,31.58,30.67,29.69,28.46,27.06,26.17
TS 9-39,7.29,41.31,41.58,41.87,42.16,42.37,42.65,42.85,43.03,43.32,...,32.69,32.35,31.82,31.05,30.19,29.32,28.40,27.22,25.84,24.97