In [1]:
import pandas as pd


# Define file paths
gula_reduksi_file_path = '../raw_data/200_data_montecarlo_NIR_Fermentasi_Gula Reduksi.csv'
kadar_air_file_path = '../raw_data/200_data_montecarlo_NIR_Fermentasi_KadarAir.csv'
lemak_file_path = '../raw_data/200_data_montecarlo_NIR_Fermentasi_Lemak.csv'
protein_file_path = '../raw_data/200_data_montecarlo_NIR_Fermentasi_Protein.csv'
fenol_file_path = '../raw_data/200_data_montecarlo_NIR_Fermentasi_Total Fenol.csv'


# Read the CSV files
gula_reduksi_df = pd.read_csv(gula_reduksi_file_path,index_col=0)
kadar_air_df = pd.read_csv(kadar_air_file_path,index_col=0)
lemak_df = pd.read_csv(lemak_file_path,index_col=0)
protein_df = pd.read_csv(protein_file_path,index_col=0)
fenol_df = pd.read_csv(fenol_file_path,index_col=0)

In [2]:
# Drop the "KATEGORI" column from all relevant DataFrames if it exists
for df in [lemak_df, protein_df,gula_reduksi_df, kadar_air_df]:
    if "KATEGORI" in df.columns:
        df.drop(columns=["KATEGORI"], inplace=True)
    if "Kategori" in df.columns:
        df.drop(columns=['Kategori'], inplace=True)

In [3]:
for df in [gula_reduksi_df, kadar_air_df, lemak_df, protein_df]:
    if "Unnamed: 0" in df.columns:
        df.drop(columns=["Unnamed: 0"], inplace=True)

In [4]:
include_fermentasi_kadar_air = [
]

include_fermentasi_gula_reduksi = [

]


include_fermentasi_lemak = [

    "TF 1-33", "TF 1-9", "TF 1-23", "TF 1-36", "TF 1-20", "TF 1-40", "TF 1-8", "TF 1-4",
    "TF 4-0", "TF 4-24", "TF 4-13", "TF 4-16", "TF 4-36",
    "TF 2-33",
    "TF 7-32",
    "TF 5-13", "TF 5-12", "TF 5-28",
    "TF 3-15", "TF 3-27",
    "TF 6-9",
    
    "MF 9-25", "MF 9-17", "MF 9-2",
    "MF 10-37", "MF 10-38", "MF 10-3", "MF 10-26", "MF 10-36",
    "MF 3-12",
    "MF 6-37", "MF 6-24", "MF 6-1",
    "MF 7-0", "MF 7-6", "MF 7-30",
    "MF 2-20",
    "TF 2-3",
    "TF 2-28",
    "TF 2-12",
    "TF 2-39",
    "TF 2-10",
    "TF 2-30",
    "TF 2-17",
    "TF 2-0",
    "TF 2-31",
    "MF 9-38",
    "MF 9-10",
    "MF 9-6",
    "MF 9-8",
    "MF 6-21",
    "MF 2-37",
    "MF 2-17",
    "MF 7-8",
    "MF 2-0",
    "MF 2-30"

]

include_fermentasi_protein = [

]


include_fermentasi_fenol = [
    "TF 1-2", "TF 1-3", "TF 1-4", "TF 1-35",
    "TF 10-0",
    "TF 7-15",
    "TF 8-17", "TF 8-24",
    "TF 6-39",
    "TF 4-14",
    "MF 8-27", "MF 8-34",
    "TF 2-39",
    "TF 2-3",
    "TF 2-37",
    "TF 2-2",
    "TF 8-36",
    "TF 10-4",
    "TF 10-34",
    "TF 6-30",
    "TF 6-9",
    "TF 6-16",
    "TF 4-21",
    "TF 4-35",
    "TF 4-38",
    "TF 4-25",
    "TF 1-30",
    "TF 9-25",
    "MF 8-27",
    "MF 8-34",
    "MF 4-38",
    "MF 4-36",
    "MF 4-26",
    "MF 4-33",
    "MF 4-2"
]

In [5]:
gula_reduksi_df

,Gula Reduksi,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
TF 2-33,11.767,49.85,49.84,49.87,49.98,50.16,50.38,50.61,50.91,51.19,...,27.58,27.59,27.55,27.44,27.28,27.03,26.66,26.23,25.75,25.47
TF 4-11,12.737,45.78,45.61,45.39,45.26,45.24,45.30,45.43,45.64,45.82,...,22.81,22.94,23.03,23.08,23.05,22.94,22.73,22.54,22.39,22.33
MF 6-7,9.459,55.15,55.29,55.03,55.03,55.07,55.34,55.51,55.67,56.28,...,24.40,24.58,24.85,24.78,24.86,25.03,25.61,26.09,26.71,27.13
MF 5-15,10.754,44.00,44.08,43.61,43.44,43.29,43.40,43.36,43.33,43.88,...,18.44,18.61,18.92,18.85,18.93,19.11,19.81,20.48,21.47,22.17
MF 1-17,11.091,49.00,49.11,48.92,48.94,48.99,49.21,49.31,49.43,49.92,...,23.55,23.66,23.81,23.69,23.65,23.67,23.97,24.19,24.54,24.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TF 4-5,12.862,49.64,49.56,49.49,49.50,49.62,49.80,50.03,50.33,50.58,...,22.59,22.60,22.55,22.43,22.23,21.93,21.52,21.07,20.57,20.27
TF 6-21,12.305,46.98,46.98,46.90,46.94,47.05,47.27,47.49,47.75,48.10,...,23.18,23.22,23.26,23.19,23.08,22.86,22.63,22.32,22.02,21.83
MF 10-5,7.319,53.94,54.28,53.88,53.86,53.78,54.07,54.08,54.06,54.90,...,27.59,27.93,28.50,28.47,28.76,29.26,30.60,31.78,33.21,34.15
TF 10-16,10.322,44.99,45.02,44.94,44.99,45.09,45.31,45.52,45.75,46.07,...,22.26,22.35,22.48,22.47,22.43,22.30,22.20,22.04,21.94,21.89
MF 1-9,11.055,44.89,44.89,44.58,44.50,44.48,44.64,44.73,44.86,45.32,...,20.70,20.84,21.04,21.00,21.03,21.12,21.46,21.75,22.18,22.49

In [6]:
gula_reduksi_df = gula_reduksi_df.drop([s.replace(' ', ' ') for s in include_fermentasi_gula_reduksi], errors='ignore')
kadar_air_df = kadar_air_df.drop([s.replace(' ', ' ') for s in include_fermentasi_kadar_air], errors='ignore')
lemak_df = lemak_df.drop([s.replace(' ', ' ') for s in include_fermentasi_lemak], errors='ignore')
protein_df = protein_df.drop([s.replace(' ', ' ') for s in include_fermentasi_protein], errors='ignore')
fenol_df = fenol_df.drop([s.replace(' ', ' ') for s in include_fermentasi_fenol], errors='ignore')

In [7]:
gula_reduksi_df

,Gula Reduksi,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
TF 2-33,11.767,49.85,49.84,49.87,49.98,50.16,50.38,50.61,50.91,51.19,...,27.58,27.59,27.55,27.44,27.28,27.03,26.66,26.23,25.75,25.47
TF 4-11,12.737,45.78,45.61,45.39,45.26,45.24,45.30,45.43,45.64,45.82,...,22.81,22.94,23.03,23.08,23.05,22.94,22.73,22.54,22.39,22.33
MF 6-7,9.459,55.15,55.29,55.03,55.03,55.07,55.34,55.51,55.67,56.28,...,24.40,24.58,24.85,24.78,24.86,25.03,25.61,26.09,26.71,27.13
MF 5-15,10.754,44.00,44.08,43.61,43.44,43.29,43.40,43.36,43.33,43.88,...,18.44,18.61,18.92,18.85,18.93,19.11,19.81,20.48,21.47,22.17
MF 1-17,11.091,49.00,49.11,48.92,48.94,48.99,49.21,49.31,49.43,49.92,...,23.55,23.66,23.81,23.69,23.65,23.67,23.97,24.19,24.54,24.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TF 4-5,12.862,49.64,49.56,49.49,49.50,49.62,49.80,50.03,50.33,50.58,...,22.59,22.60,22.55,22.43,22.23,21.93,21.52,21.07,20.57,20.27
TF 6-21,12.305,46.98,46.98,46.90,46.94,47.05,47.27,47.49,47.75,48.10,...,23.18,23.22,23.26,23.19,23.08,22.86,22.63,22.32,22.02,21.83
MF 10-5,7.319,53.94,54.28,53.88,53.86,53.78,54.07,54.08,54.06,54.90,...,27.59,27.93,28.50,28.47,28.76,29.26,30.60,31.78,33.21,34.15
TF 10-16,10.322,44.99,45.02,44.94,44.99,45.09,45.31,45.52,45.75,46.07,...,22.26,22.35,22.48,22.47,22.43,22.30,22.20,22.04,21.94,21.89
MF 1-9,11.055,44.89,44.89,44.58,44.50,44.48,44.64,44.73,44.86,45.32,...,20.70,20.84,21.04,21.00,21.03,21.12,21.46,21.75,22.18,22.49

In [8]:
# gula_reduksi_df.to_csv('../curated_data_2/nir_fermentasi_gula_reduksi_df.csv')
# kadar_air_df.to_csv('../curated_data_2/nir_fermentasi_kadar_air_df.csv')
lemak_df.to_csv('../curated_data_2/nir_fermentasi_lemak_df.csv')
# protein_df.to_csv('../curated_data_2/nir_fermentasi_protein_df.csv')
fenol_df.to_csv('../curated_data_2/nir_fermentasi_fenol_df.csv')

In [9]:
gula_reduksi_df

,Gula Reduksi,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
TF 2-33,11.767,49.85,49.84,49.87,49.98,50.16,50.38,50.61,50.91,51.19,...,27.58,27.59,27.55,27.44,27.28,27.03,26.66,26.23,25.75,25.47
TF 4-11,12.737,45.78,45.61,45.39,45.26,45.24,45.30,45.43,45.64,45.82,...,22.81,22.94,23.03,23.08,23.05,22.94,22.73,22.54,22.39,22.33
MF 6-7,9.459,55.15,55.29,55.03,55.03,55.07,55.34,55.51,55.67,56.28,...,24.40,24.58,24.85,24.78,24.86,25.03,25.61,26.09,26.71,27.13
MF 5-15,10.754,44.00,44.08,43.61,43.44,43.29,43.40,43.36,43.33,43.88,...,18.44,18.61,18.92,18.85,18.93,19.11,19.81,20.48,21.47,22.17
MF 1-17,11.091,49.00,49.11,48.92,48.94,48.99,49.21,49.31,49.43,49.92,...,23.55,23.66,23.81,23.69,23.65,23.67,23.97,24.19,24.54,24.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TF 4-5,12.862,49.64,49.56,49.49,49.50,49.62,49.80,50.03,50.33,50.58,...,22.59,22.60,22.55,22.43,22.23,21.93,21.52,21.07,20.57,20.27
TF 6-21,12.305,46.98,46.98,46.90,46.94,47.05,47.27,47.49,47.75,48.10,...,23.18,23.22,23.26,23.19,23.08,22.86,22.63,22.32,22.02,21.83
MF 10-5,7.319,53.94,54.28,53.88,53.86,53.78,54.07,54.08,54.06,54.90,...,27.59,27.93,28.50,28.47,28.76,29.26,30.60,31.78,33.21,34.15
TF 10-16,10.322,44.99,45.02,44.94,44.99,45.09,45.31,45.52,45.75,46.07,...,22.26,22.35,22.48,22.47,22.43,22.30,22.20,22.04,21.94,21.89
MF 1-9,11.055,44.89,44.89,44.58,44.50,44.48,44.64,44.73,44.86,45.32,...,20.70,20.84,21.04,21.00,21.03,21.12,21.46,21.75,22.18,22.49