In [1]:
import pandas as pd


# Define file paths
gula_reduksi_file_path = '../raw_data/200_data_montecarlo_NIR_Kering_Gula_Reduksi.csv'
kadar_air_file_path = '../raw_data/200_data_montecarlo_NIR_Kering_KadarAir.csv'
lemak_file_path = '../raw_data/200_data_montecarlo_NIR_Kering_Lemak.csv'
protein_file_path = '../raw_data/200_data_montecarlo_NIR_Kering_Protein.csv'
fenol_file_path = '../raw_data/200_data_montecarlo_NIR_Kering_Total_Fenol.csv'


# Read the CSV files
gula_reduksi_df = pd.read_csv(gula_reduksi_file_path,index_col=0)
kadar_air_df = pd.read_csv(kadar_air_file_path,index_col=0)
lemak_df = pd.read_csv(lemak_file_path,index_col=0)
protein_df = pd.read_csv(protein_file_path,index_col=0)
fenol_df = pd.read_csv(fenol_file_path,index_col=0)

In [2]:
# Drop the "KATEGORI" column from all relevant DataFrames if it exists
for df in [lemak_df, protein_df,gula_reduksi_df, kadar_air_df]:
    if "KATEGORI" in df.columns:
        df.drop(columns=["KATEGORI"], inplace=True)
    if "Kategori" in df.columns:
        df.drop(columns=['Kategori'], inplace=True)

In [3]:
for df in [gula_reduksi_df, kadar_air_df, lemak_df, protein_df]:
    if "Unnamed: 0" in df.columns:
        df.drop(columns=["Unnamed: 0"], inplace=True)

In [4]:
include_kering_kadar_air = [
]

include_kering_gula_reduksi = [
]


include_kering_lemak = [

]

include_kering_protein = [
]

include_kering_fenol = [

]

In [5]:
gula_reduksi_df

,Gula Reduksi,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
MK 2-18,5.765,36.38,36.57,36.69,36.86,36.97,37.16,37.25,37.35,37.54,...,21.48,21.39,21.25,20.98,20.69,20.43,20.24,19.96,19.70,19.55
TK 1-2,10.789,21.99,22.06,22.03,21.98,21.90,21.88,21.84,21.77,21.82,...,12.52,12.40,12.27,12.06,11.90,11.77,11.74,11.68,11.62,11.59
TK 2-10,9.563,24.67,24.85,24.76,24.73,24.64,24.67,24.59,24.48,24.66,...,16.70,16.63,16.63,16.44,16.33,16.29,16.50,16.66,16.91,17.08
MK 6-33,2.667,45.05,45.17,45.14,45.12,45.03,45.03,44.96,44.90,44.95,...,25.67,25.42,25.09,24.55,24.00,23.46,23.00,22.44,21.86,21.52
MK 8-10,5.957,61.22,61.39,61.45,61.51,61.50,61.57,61.55,61.53,61.60,...,39.11,38.78,38.36,37.72,37.08,36.45,35.88,35.12,34.28,33.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MK 7-18,3.784,36.43,36.65,36.82,36.98,37.08,37.25,37.33,37.42,37.64,...,20.00,19.81,19.56,19.14,18.73,18.36,18.05,17.62,17.16,16.88
TK 8-0,18.418,21.82,22.06,22.05,22.11,22.10,22.21,22.21,22.17,22.46,...,13.69,13.64,13.66,13.43,13.30,13.22,13.44,13.60,13.85,14.05
MK 10-18,4.843,34.67,34.79,34.82,34.85,34.83,34.88,34.85,34.83,34.88,...,20.49,20.31,20.05,19.65,19.26,18.84,18.44,17.95,17.45,17.14
TK 7-15,12.210,35.79,36.17,36.39,36.65,36.82,37.10,37.26,37.37,37.83,...,25.74,25.58,25.43,25.01,24.71,24.50,24.58,24.49,24.31,24.17
MK 7-38,3.701,47.77,47.99,48.15,48.30,48.35,48.47,48.49,48.53,48.68,...,32.39,32.22,31.99,31.53,31.07,30.64,30.25,29.70,29.08,28.67

In [6]:
# gula_reduksi_df = gula_reduksi_df.drop([s.replace('S-', 'S ') for s in include_kering_gula_reduksi])
# kadar_air_df = kadar_air_df.drop([s.replace('S-', 'S ') for s in include_kering_kadar_air])
lemak_df = lemak_df.drop([s.replace(' ', ' ') for s in include_kering_lemak])
# protein_df = protein_df.drop([s.replace('S-', 'S ') for s in include_kering_protein])
# fenol_df = fenol_df.drop([s.replace('S-', 'S ') for s in include_kering_fenol])

In [7]:
gula_reduksi_df

,Gula Reduksi,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
MK 2-18,5.765,36.38,36.57,36.69,36.86,36.97,37.16,37.25,37.35,37.54,...,21.48,21.39,21.25,20.98,20.69,20.43,20.24,19.96,19.70,19.55
TK 1-2,10.789,21.99,22.06,22.03,21.98,21.90,21.88,21.84,21.77,21.82,...,12.52,12.40,12.27,12.06,11.90,11.77,11.74,11.68,11.62,11.59
TK 2-10,9.563,24.67,24.85,24.76,24.73,24.64,24.67,24.59,24.48,24.66,...,16.70,16.63,16.63,16.44,16.33,16.29,16.50,16.66,16.91,17.08
MK 6-33,2.667,45.05,45.17,45.14,45.12,45.03,45.03,44.96,44.90,44.95,...,25.67,25.42,25.09,24.55,24.00,23.46,23.00,22.44,21.86,21.52
MK 8-10,5.957,61.22,61.39,61.45,61.51,61.50,61.57,61.55,61.53,61.60,...,39.11,38.78,38.36,37.72,37.08,36.45,35.88,35.12,34.28,33.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MK 7-18,3.784,36.43,36.65,36.82,36.98,37.08,37.25,37.33,37.42,37.64,...,20.00,19.81,19.56,19.14,18.73,18.36,18.05,17.62,17.16,16.88
TK 8-0,18.418,21.82,22.06,22.05,22.11,22.10,22.21,22.21,22.17,22.46,...,13.69,13.64,13.66,13.43,13.30,13.22,13.44,13.60,13.85,14.05
MK 10-18,4.843,34.67,34.79,34.82,34.85,34.83,34.88,34.85,34.83,34.88,...,20.49,20.31,20.05,19.65,19.26,18.84,18.44,17.95,17.45,17.14
TK 7-15,12.210,35.79,36.17,36.39,36.65,36.82,37.10,37.26,37.37,37.83,...,25.74,25.58,25.43,25.01,24.71,24.50,24.58,24.49,24.31,24.17
MK 7-38,3.701,47.77,47.99,48.15,48.30,48.35,48.47,48.49,48.53,48.68,...,32.39,32.22,31.99,31.53,31.07,30.64,30.25,29.70,29.08,28.67

In [8]:
gula_reduksi_df.to_csv('../curated_data_2/nir_kering_gula_reduksi_df.csv')
kadar_air_df.to_csv('../curated_data_2/nir_kering_kadar_air_df.csv')
lemak_df.to_csv('../curated_data_2/nir_kering_lemak_df.csv')
protein_df.to_csv('../curated_data_2/nir_kering_protein_df.csv')
fenol_df.to_csv('../curated_data_2/nir_kering_fenol_df.csv')

In [9]:
fenol_df

,FENOL,954.165,960.187,966.207,972.224,978.239,984.252,990.262,996.27,1002.275,...,1648.528,1654.273,1660.015,1665.755,1671.492,1677.227,1682.96,1688.691,1694.419,1700.144
SAMPEL,,,,,,,,,,,,,,,,,,,,,
TK 3-19,16.604,26.91,27.08,26.93,26.84,26.69,26.65,26.52,26.34,26.52,...,14.83,14.74,14.71,14.44,14.29,14.24,14.51,14.73,15.06,15.31
MK 9-15,24.479,31.47,31.60,31.63,31.66,31.63,31.68,31.67,31.65,31.76,...,14.88,14.85,14.79,14.57,14.35,14.07,13.84,13.52,13.24,13.09
TK 1-34,23.675,24.80,24.94,24.85,24.80,24.69,24.67,24.58,24.46,24.60,...,13.85,13.82,13.83,13.67,13.58,13.53,13.71,13.86,14.11,14.29
MK 7-20,32.984,27.79,27.94,27.97,28.02,28.00,28.07,28.04,28.03,28.17,...,14.05,14.01,14.00,13.85,13.72,13.58,13.52,13.43,13.42,13.45
MK 1-18,35.313,38.65,38.79,38.81,38.87,38.87,38.97,38.97,38.98,39.10,...,20.49,20.31,20.06,19.65,19.27,18.94,18.72,18.40,18.10,17.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TK 7-28,26.823,30.07,30.27,30.14,30.09,29.96,29.96,29.83,29.68,29.89,...,18.51,18.45,18.49,18.29,18.21,18.21,18.55,18.87,19.32,19.63
MK 8-39,36.131,48.38,48.50,48.46,48.42,48.31,48.29,48.18,48.10,48.18,...,29.29,29.14,28.94,28.53,28.12,27.72,27.40,26.94,26.47,26.18
MK 4-20,33.971,33.19,33.34,33.47,33.58,33.64,33.74,33.79,33.83,33.95,...,19.95,19.72,19.42,18.98,18.54,18.11,17.69,17.16,16.59,16.22
TK 6-20,29.971,27.78,27.97,27.84,27.77,27.63,27.61,27.48,27.31,27.50,...,16.93,16.89,16.94,16.76,16.72,16.74,17.08,17.38,17.82,18.13
MK 8-12,36.275,43.93,44.08,44.13,44.20,44.19,44.28,44.27,44.26,44.36,...,27.86,27.65,27.37,26.89,26.38,25.86,25.38,24.73,24.04,23.59